<div class="row justify-content-md-center">
  <div class="alert_container" *ngIf="invalidMessage">
    <div class="failure alert_content">
      <img class="icon" src='assets/invalidfile.png'/>
      <div>{{ invalidMessage }}</div>
    </div>
  </div>
  <div class="alert_container" *ngIf="validMessage">
    <div class="success alert_content">
      <img class="icon" src='assets/Vector.png'/>
      <div>{{ validMessage }}</div>
    </div>
  </div>
  <div class="welcome">Admin Dashboard</div>
  <div class="card">
    <div class="heading"> Select Type of Master</div>
    <div class="checkbox">
      <input type="radio" name="sort" id="sort1" checked="checked" (click)="selectedFileType = 'master'" >
      <label for="sort1">
        <span>Scheme Master</span>
      </label>
      <input type="radio" name="sort" id="sort2" (click)="selectedFileType = 'pcg'"> 
      <label for="sort2">
        <span>PCG master</span>
      </label>
      <input type="radio" name="sort" id="sort3" (click)="selectedFileType = 'dcg'"> 
      <label for="sort3">
        <span>DCG master</span>
      </label>
    </div>   
    <!-- <div class="file_container file">
      <input class="file1" type="file" (change)="selectFile($event)"/>
      <div class="file_image">
        <img class="icon" src="assets/file_upload.png" />
      </div>
      <div class="file_content">Drop your file here or <span>browse</span> file</div> 
      <div class="file_support">Support XLXS file</div> 
    </div> -->
    <div class="file_container file width_100 upload_container" (click)="fileInput.click()">
      <div class="file_image">
        <img class="icon" src="assets/file_upload.png" />
      </div>
      <!-- <div class="upload_hint">2 MB max</div> -->
      <input class="file1"  hidden (change)="onFileSelected($event)" #fileInput type="file" id="file" accept="XLXS">
      <div class="file_content">Drop your file here or <span>browse</span> file</div> 
      <div class="file_support">Support XLXS file</div> 
    </div>
    <div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>
    <div class="text-center">
      <button class="button" (click)="sumbitFile()">Confirm & Submit</button>
    </div>
  </div>
</div>