<div class="row justify-content-md-center">
  <div class="welcome">Admin Dashboard</div>
  <div class="card">
    <div class="heading"> Select Type of Master</div>
    <div class="checkbox">
      <input type="radio" name="sort" id="sort1" checked="checked" (click)="selectedFileType = 'master'" >
      <label for="sort1">
        <span>Scheme Master</span>
      </label>
      <input type="radio" name="sort" id="sort2" (click)="selectedFileType = 'pcg'"> 
      <label for="sort2">
        <span>PCG master</span>
      </label>
      <input type="radio" name="sort" id="sort3" (click)="selectedFileType = 'dcg'"> 
      <label for="sort3">
        <span>DCG master</span>
      </label>
    </div>   
    <div class="file_container file">
      <input class="file1" type="file" (change)="selectFile($event)"/>
      <div class="file_image">
        <img class="icon" src="../../assets/img/file_upload.png" />
      </div>
      <div class="file_content">Drop your file here or <span>browse</span> file</div> 
      <div class="file_support">Support XLXS file</div> 
    </div>
    <div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>
    <div class="text-center">
      <button class="button" (click)="sumbitFile()">Confirm & Submit</button>
    </div>
  </div>
</div>