.card {
    width: 578px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.14);
    overflow: hidden;
    padding: 2.5%;
    display: flex;
}
.navigation_section {
    display: inline;
    text-align: center;
    margin-bottom: 10px;
}
.navigation_section .navigation_button.active {
    background: #EB1935;
    color: #fff;
}
.navigation_section .navigation_button {
    cursor: pointer;
    display: inline-block;
    background: #fff;
    margin-bottom: 10px;
    border: 1px solid #E5E5E5;
    font-size: 14px;
    color: #000;
    align-items: center;
    padding: 5px 10px;
}
.alert_container {
    display: flex;
    justify-content: center;
}
.alert_container .alert_content {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 10px 15px;
    box-shadow: 0px 4px 5px #00000024, 0px 1px 10px #0000001f, 0px 2px 4px #00000033;
}
.alert_container .failure {
    background: #EB1935;
}
.alert_container .success {
    background: #00D43B;
}
.alert_container .icon {
    margin-right: 10px;
}
.alert_container .close_icon {
    margin-left: 20px;
    cursor: pointer;
}
.heading {
    font-family: 'Akkurat-Bold';
    font-size: 16px;
    color: #000000;
}
.welcome{
    font-family: 'Akkurat-Bold', Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    margin: 2% 0% 2% 0%;
}
ngb-alert.alert.show.mt-1.alert-success.fade.alert-dismissible {
    width: 50%;
    background-color: #00D43B;
}
.button {
    width: 180px;
    height: 48px;
    font-family: 'Akkurat-Bold';
    font-style: normal;
    font-size: 16px;
    border: aliceblue;
    color: #FFFFFF;
    background: #EB1935;
    border-radius: 3px;
    margin: 5% 0% 0% 0%;
}
.button.disabled {
    opacity: 0.6;
    pointer-events: none;
}
.checkbox {
    margin: 15px 0px 30px 0px;
}
.checkbox input{
    display: none;
}
.checkbox input:checked + label{
    color: #FFFFFF;
    background: #EB1935;
}
.checkbox label {
    border-radius: 38px;
    padding: 5px 15px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 13px;
    display: initial;
    border: 1px solid #E5E5E5;
}
.file_container {
    height: 171px;
    background: #F6F6F6;
    width: 514px;
    border: 1px dashed #DDDDDD;
    border-radius: 10px;
    cursor: pointer;
}
.file_image {
    text-align: center;
    margin-top: 5%;
}
.file_content {
    font-size: 14px;
    color: #000000;
    text-align: center;
    padding: 15px 10px 0px 10px;
}
.file_content span {
    color: #EB1935;
}
.file_support {
    font-size: 12px;
    color: #000000;
    text-align: center;
    padding: 5px 0px 20px 0px;
    opacity: 0.6;
}
.file_details {
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    margin-top: 15px;
    vertical-align: middle;
    align-items: center;
}
.file_section_1 {
    width: 90%;
}
.file_section_2 {
    width: 10%;
    text-align: end;
    padding-right: 10px;
    cursor: pointer;
}
.file_name {
    font-size: 14px;
    color: #000000;
    opacity: 0.7;
}
.file_size {
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    opacity: 0.5;
}
input#file {
    display: inline-block;
    width: 100%;
    padding: 120px 0 0 0;
    height: 100px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 20px;
    background-size: 60px 60px;
  }
  ::-webkit-file-upload-button {
    display: none;
 }  

