<div class="row justify-content-md-center">
  <div class="welcome">Admin Dashboard</div>
  <div class="navigation_section">
    <div (click)="setOption('user_logs')" [ngClass]="selectRecord == 'user_logs' ? 'active' : ''" class="navigation_button">User Logs</div>
    <div (click)="setOption('name_match')" [ngClass]="selectRecord == 'name_match' ? 'active' : ''" class="navigation_button">Name Match</div>
    <div (click)="setOption('server_data')" [ngClass]="selectRecord == 'server_data' ? 'active' : ''" class="navigation_button">Server Logs</div>
  </div>
  <div class="scheme_card" *ngIf="selectRecord == 'user_logs'">
    <mat-card [ngClass]="selectedApi == logs.api_name ? 'active' : ''" class="scheme-card-container" *ngFor="let logs of userLogs">
      <mat-card-content (click)="getApiData(logs.api_name)">
        <div class="api_name">{{logs.name}}</div>
        <div class="count">{{logs.cnt}}</div>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
  </div>
  <div [ngClass]="selectRecord == 'name_match' ? 'show_chart' : 'hide_chart'">
    <canvas id="areaChart"></canvas>
  </div>
  <div class="row record_table" [ngClass]="(selectedApi != '' && selectedApi != undefined) && (selectRecord == 'user_logs' || selectRecord == 'name_match') ? '' : 'hide_table'">
    <div class="col-md-12 mb-3">
      <table datatable [dtTrigger]="dtTrigger" class="table table-striped display nowrap mb-3"></table>
    </div>
  </div>
  <!-- <table *ngIf="selectRecord == 'name_match'">
    <tr>
      <th class="sorting_disabled">ID</th>
      <th class="sorting_disabled">Count</th>
      <th class="sorting_disabled">Date</th>
    </tr>
    <tr *ngFor="let logs of nameMatch; index as i">
      <td>{{i+1}}</td>
      <td>{{logs.cnt}}</td>
      <td>{{logs.Count}}</td>
    </tr>
  </table> -->
  <div class="no_padding" *ngIf="selectRecord == 'server_data'">
    <h3>Total Records</h3>
    <table>
      <tr>
        <th class="sorting_disabled">ID</th>
        <th class="sorting_disabled">All & ABND Cases </th>
        <th class="sorting_disabled">Starter & Non Starter</th>
        <th class="sorting_disabled">Mandate Cases</th>
        <th class="sorting_disabled">Customer Details</th>
        <th class="sorting_disabled">SM/RSM/SE</th>
        <th class="sorting_disabled">Scheduler Date</th>
      </tr>
      <tr *ngFor="let logs of scheduleData; index as i">
        <td>{{i+1}}</td>
        <td>{{logs.count_all_n_abnd_cases}}</td>
        <td>{{logs.count_starter_non_starter_data}}</td>
        <td>{{logs.count_mandate_cases}}</td>
        <td>{{logs.count_customer_details}}</td>
        <td>{{logs.count_sm_rsm_fos_data}}</td>
        <td>{{logs.date}}</td>
      </tr>
    </table>
  </div>
</div>

