.page_heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.row-pad{
    padding-top: 12px;
}
.scheme_text{
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    top: 5px;
    position: relative; 
}
.search_container {
    align-items: center;
    justify-content: center;
    width: 65%;
}
.tenure_container {
    width: 35%;
    padding-right: 10px;
}
.display_flex {
    display: flex;
}
.margin_3 {
    margin: 3% 0%;
}
.scheme_filter {
    width: 30%;
}
.scheme_label {
    width: 70%;
}
.scheme_id {
    width: 60%;
}
.scheme_oem {
    width: 40%;
}
.filter_button {
    background: #F2F2F2;
    border-radius: 2px;
    padding: 5px;
    display: flex;
}
.filter_button .icon{
    vertical-align: middle;
    padding-left: 10px;
}
.filter_button .filter{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
.scheme-card-container{
    position: relative;
    margin: 0px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}
.scheme-card-container .cashback{
    position: absolute;
    top: -10px;
    left: 15px;
    padding: 4px 8px;
    background: #06C270;
    font-size: 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
}
.scheme-card-container .scheme-card-header {
    margin-bottom: 10px;
    display: flex;
}
.scheme-card-header .bi{
    color: #EB1935;
    bottom: 3px;
    position: relative;
    left: 5px;
}
.scheme-card-container .scheme-card-header .scheme-header{
    font-family: 'Akkurat-Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    display: flex;
}
.scheme-card-header .oem_name {
    background-color: #FFF5CB;;
    color: #796101;
    font-weight: bold;
    font-size: 10px;
    opacity: 0.6;
    border-radius: 3px;
    padding: 4px 5px 3px 5px;
}
.scheme-card-container .schema-body p{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #616162;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.scheme-card-container .schema-body b{
    font-style: normal;
    /* font-weight: 500; */
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}
.scheme-card-container .scheme-footer{
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    color: #000000;
    opacity: 0.7;
    margin-bottom: 0px;
    width: 100%;
    padding: 10px 15px 10px 15px;
    background-color:#F7F7F7;
}
.scheme_card {
    padding: 15px;
}
.card-text {
    /* font-family: 'Akkurat-Bold'; */
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #616162;
    margin-bottom: 2px;
}
.line{
    padding-right: 15px;
}
.float-end{
    float: right !important;
    cursor: pointer;
}
b {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}
.icon{
    padding-left: 22px;
}
.search{
    border-style: none;
    display: flex;
    background: #FFFFFF;
    border-width: 0px;
    padding: 10px;
    width: 100%;
}
.navbar{
    padding-left: 15px;
    background: #FFFFFF;
    box-shadow: 0px 5px 18px rgb(0 0 0 / 14%);
    border-radius: 244px;
}
.popup .wrapper{
    position:relative; 
    left:-50%;
}  
.dialog{
    vertical-align: middle;
}
.tenure_container {
    display: inline;
}
.tenure_section {
    width: fit-content;
    height: 32px;
    border: 1px solid #E5E5E5;
    border-radius: 38px;
    padding: 0px 15px;
    cursor: pointer;
    display: inline-block;
    margin: 10px 10px 0px 0px;
}
.tenure_section.btnSelected{
    color: #FFFFFF;
    background: #EB1935;
}
.tenure_section div {
    position: relative;
    top: 4px;
}
.span {
    display:flex;   
    margin-right: 16px;
    cursor: pointer;
}
button.btn.btn-outline-dark {
    width: 120px;
    margin-right: 17px;
    float: right;
    margin-top: 76px;
  
}
.modal_content {
    padding: 20px;
}
.modal-header .close{
    border: white;
    background-color: unset;
}
.modal-header .close span{
    margin: 0px auto;
}
.cashb .inputcheckbox{
    margin-right: 12px;
}
.fitlerbttn{
    border: none;
    /* font-family: 'Akkurat-Bold'; */
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* color: #000000; */
    background: white;
}
.canclebttn{
    border: none;
    background: white;
}
.form-check {
    margin-top: 25px;
}
.form-check-input{
    background-color: #fff;
}
.form-check-input:checked {
    background-color: #E31B36 !important;
}
label{
    /* font-family: 'Akkurat'; */
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}
.btn2{
    border: 1px solid #E5E5E5;;
    border-radius: 38px;
}
.btn2:hover{
    background: #EB1935;
    border: 1px solid #E5E5E5;
    border-radius: 38px;
}
.lastbtn{
    font-family: 'Akkurat-Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-right: 0px;
}
.reset{
    padding: 10px 50px; 
    border-radius: 3px;   
    border: 1px solid #EB1935;
    color: #EB1935;
    background-color: #fff;
}
.apply{
    padding: 10px 50px; 
    background: #EB1935;
    border-radius: 3px;   
    color: #FFFFFF;
    border: none;
}
/* .checkbox {
    padding-left: 15px;
} */
.dropdown-padding{
    width: 178px;
    left: 808px;
    top: 267px;
}
.row-style{
    margin: 0px;
}
.no_data_found {
    padding-top: 50px;
    text-align: center;
}
.no_data_found img{
    padding-bottom: 20px;
    width: 120px;
}
.dropdown .dropdown-for{
    border: none;
}
@media only screen and (max-width: 768px) {
    .searchBox{
        width: fit-content;
    }
    .navbar{
        display: flex;
        padding: 0 15px;
    }
    col .dropdown{
        display: flex;
        align-items: center;

    }
    span.icon {
        padding: 11px 0;
    }
    .margin_bottom_5 {
        margin-bottom: 5px;
    }
   
    /* .serach_icon .icon {
        width: 16px;
        height: 16px;
    } */
}
@media only screen and (max-width: 420px) {
    .searchBox {
        width: calc(100% - 20px);
    }
    .navbar {
        padding: 0 10px;
    }
    .search_container {
        width: 55%;
    }
    .search_container span .icon {
        padding: 10px 0;
    }
    .search_container span .icon .search_icon {
        width: 14px;
    }
    .search_container .search {
        padding: 0px 5px 0px 5px;
        font-size: 12px;
    }
    .tenure_container {
        width: 45%;
        font-size: 12px;
        padding-right: 0px;
    }
    .tenure_container .float-end {
        float: right !important;
    }
    .tenure_container .float-end .line {
        padding-right: 5px;
    }
    .dropdown-for {
        width: 90px !important;
    }
    .display_flex.margin_3 {
        /* padding-bottom: 15px; */
        margin: 20px 0px;
    }
    .margin_bottom_5 {
        margin-bottom: 15px;
    }
}