<div class="col-md-12 back-history">
    <a routerLink="/home">
        <i class="bi bi-chevron-left arrow-red"></i>
        Back to Home
    </a>
</div>
<div class="fluid-container mt-4 mb-3">
    <div class="row text-center">
        <h5 class="page_heading">Scheme Guide</h5>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 ">
            <div class="row">
                <div class="container searchBox">
                    <div class="row">
                        <nav class="navbar">
                            <div class="display_flex search_container">
                                <span class="icon">
                                    <img class="search_icon" src="assets/serach.png"/>
                                </span>
                                <input class="search" type="text" (input)="searchData($event)"
                                    placeholder="OEM/Product Name" aria-label="Search">
                            </div>
                            <div class="col tenure_container">
                                <div class="dropdown float-end">
                                    <img class="line" src="assets/filter_line.png" />
                                    Tenure:
                                    <select class="dropdown-for" #mySelect (change)='onTenureSelected(mySelect.value)'>
                                        <option class="dropdown-item" value="0">All</option>
                                        <option class="dropdown-item" value="6-9">6 to 9 months</option>
                                        <option class="dropdown-item" value="10-12">10 to 12 months</option>
                                        <option class="dropdown-item" value="12">more than 12 months</option>
                                    </select>
                                </div>
                            </div>
                        </nav>
                    </div>                  
                </div>
                <div class="display_flex margin_3">
                    <div class="scheme_label">
                        <div class="scheme_text">Select scheme to calculate loan</div>
                        <ng-template #content let-modal>
                            <form class="modal_content">
                                <div class="box-filter">
                                    <div class="">
                                        <button type="button" class="ms-4 mt-4 fitlerbttn">Filter</button>
                                        <button type="button" class="float-end me-4 mt-4 canclebttn" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="form-check mt-4 ms-4">
                                        <input class="form-check-input" (change)= 'isCashBackApplied = !isCashBackApplied' [checked]="isCashBackApplied" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label label1" for="flexCheckDefault">
                                            Show All Cashback Offers
                                        </label>
                                    </div>
                                    <div>
                                        <hr>
                                    </div>
                                    <div class="mt-2 ms-4">
                                        <label for="" class="label2">Advanced EMI</label>
                                    </div>
                                    <div class="checkbox">
                                        <div class="tenure_container">
                                            <div (click)="setAdvEmi('0')" class="tenure_section" [ngClass]="advanceEmi == '0' ? 'btnSelected' : ''">
                                                <div>0 month</div>
                                            </div>
                                            <div (click)="setAdvEmi('1')" class="tenure_section" [ngClass]="advanceEmi == '1' ? 'btnSelected' : ''">
                                                <div>1 month</div>
                                            </div>
                                            <div (click)="setAdvEmi('2')" class="tenure_section" [ngClass]="advanceEmi == '2' ? 'btnSelected' : ''">
                                                <div>2 month</div>
                                            </div>
                                            <div (click)="setAdvEmi('3')" class="tenure_section" [ngClass]="advanceEmi == '3' ? 'btnSelected' : ''">
                                                <div>3 month</div>
                                            </div>
                                            <div (click)="setAdvEmi('4')" class="tenure_section" [ngClass]="advanceEmi == '4' ? 'btnSelected' : ''">
                                                <div>4 month</div>
                                            </div>
                                            <div (click)="setAdvEmi('5')" class="tenure_section" [ngClass]="advanceEmi == '5' ? 'btnSelected' : ''">
                                                <div>5 month</div>
                                            </div>
                                            <div (click)="setAdvEmi('6')" class="tenure_section" [ngClass]="advanceEmi == '6' ? 'btnSelected' : ''">
                                                <div>6 month</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="modal_content modal-footer">
                                <div class="float-end mt-4 lastbtn">
                                    <button type="button" class="reset me-2" (click)="resetFilter(); modal.close('Save click')">Reset</button>
                                    <button type="button" class="apply border-outline-danger me-4" (click)="addFilter(); modal.close('Save click')">Apply</button>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                    <div class="scheme_filter">
                        <div class="float-end filter_button" (click)="open(content)">
                            <div class="filter">Filter</div>
                            <img class="icon" src="assets/filter.png"/>
                        </div>
                    </div>
                </div>
                <div class="box-sizing" *ngFor="let mydata of data" routerLink="{{'/scheme_detail/'+ mydata.scheme_id}}">
                    <div *ngIf="mydata && mydata.scheme_id" class="scheme-card-container">
                        <div *ngIf="mydata?.oem?.toLowerCase() != 'mmfsl'" class="cashback">CASHBACK</div>
                        <div class="scheme_card">
                            <div class="row scheme-card-header">
                                <div class="scheme_id display_flex">
                                    <h5 class="scheme-header">Scheme ID: {{mydata.scheme_id}}</h5>
                                    <!-- <img class="arrow_right" src="assets/arrow_right.png"> -->
                                    <i class="bi bi-chevron-right"></i>
                                </div>
                                <div class="scheme_oem">
                                    <div class="float-end oem_name">{{mydata.oem}}</div>
                                </div>
                            </div>
                            <div class="row-style row">
                                <div class="col-6 col-md-3 gx-0 margin_bottom_5">
                                    <div class="card-body schema-body">
                                        <div class="card-text">Scheme Min-Max</div>
                                        <b>₹{{mydata.min_amount}} - ₹{{mydata.max_amount}}</b>
                                    </div>
                                </div>
                                <div class="col-6 col-md-3 gx-0 margin_bottom_5">
                                    <div class="card-body schema-body">
                                        <div class="card-text">Scheme Type</div>
                                        <b>{{mydata.tenure}} X {{mydata.advance_emi}}</b>
                                    </div>
                                </div>
                                <div class="col-6 col-md-3 gx-0">
                                    <div class="card-body schema-body">
                                        <div class="card-text">DBD</div>
                                        <b>{{mydata.dbd}}</b>
                                    </div>
                                </div>
                                <div class="col-6 col-md-3 gx-0">
                                    <div class="card-body schema-body">
                                        <div class="card-text">Processing Fee</div>
                                        <b>₹{{mydata.processing_fee}}</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="scheme-footer">
                            <div>{{mydata.portal_description}}</div>
                        </div>
                    </div>
                </div>
                <div class="no_data_found" *ngIf="data && data.length == 0">
                    <img src="assets/no_schemes.png">
                    <div>Sorry! No schemes found</div>
                </div>
                <div class="no_data_found" *ngIf="errMsg">{{errMsg}}</div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </div>
</div>
