<div class="container">
  <div class="row mb-3">
      <div class="col-3 back-history">
          <a routerLink="/home"><i class="bi bi-chevron-left arrow-red"></i> Back</a>
      </div>
      <div class="col-9 text-end update-date-and-time">
          <!-- Last updated: {{this.scheduleData?.LastSchedule || curDate  | date:'dd/MM/yyyy'}} | {{this.scheduleData?.LastSchedule || curDate | date:'hh:mm a'}} -->
      </div>
  </div>
 
  <div class="checkbox">
    <input type="radio" name="sort" id="sort1" checked="checked" (click)="selectedFileType = 'master'" >
    <label for="sort1">
      <span>Scheme Master</span>
    </label>
    <input type="radio" name="sort" id="sort2" (click)="selectedFileType = 'pcg'"> 
    <label for="sort2">
      <span>PCG master</span>
    </label>
    <!-- <input type="radio" name="sort" id="sort3" (click)="selectedFileType = 'dcg'"> 
    <label for="sort3">
      <span>DCG master</span>
    </label> -->
  </div> 
  <div class="row ">
      <div class="col-md-12 mb-3">
          <table  datatable  [dtTrigger]="dtTrigger" class="table table-striped display nowrap mb-3">
          </table>
      </div>
  </div>
</div>