.checkbox input{
    display: none;
}
.checkbox input:checked + label{
    color: #FFFFFF;
    background: #EB1935;
}
.checkbox label {
    border-radius: 38px;
    padding: 5px 15px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 13px;
    display: initial;
    border: 1px solid #E5E5E5;
}
.checkbox{
 display: inline-block;
    padding-bottom: 18px;
}
table {
    width: 100%;
}
.navigation_section {
    display: inline;
    text-align: center;
    margin-bottom: 10px;
}
.navigation_section .navigation_button.active {
    background: #EB1935;
    color: #fff;
}
.navigation_section .navigation_button {
    cursor: pointer;
    display: inline-block;
    background: #fff;
    margin-bottom: 10px;
    border: 1px solid #E5E5E5;
    font-size: 14px;
    color: #000;
    align-items: center;
    padding: 5px 10px;
}
.welcome{
    font-family: 'Akkurat-Bold', Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    margin: 2% 0% 2% 0%;
}
.record_table {
    padding: 0px;
}
.modal-content {
  padding: 15px;
}
button {
  /* width: 50%; */
  padding: 12px 20px ;
  margin: 0;  
  display: inline-block;
  border: 1px solid #ccc; 
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  margin-right: 8px;
}
.display_inline {
  display: inline;
}
.display_inline_block {
  display: inline-block;
}
.filter_button {
  background: #F2F2F2;
  border-radius: 2px;
  padding: 5px;
  display: flex;
}
.filter_button .icon{
  vertical-align: middle;
  padding-left: 10px;
}
.filter_button .filter{
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.float-end{
  float: right !important;
  cursor: pointer;
}
.dialog{
  vertical-align: middle;
}
.cancel_btn{
  border: none;
  background: white;
  margin: 0px;
  padding: 0px;
}
.reset{
  padding: 10px 50px; 
  border-radius: 3px;   
  border: 1px solid #EB1935;
  color: #EB1935;
  background-color: #fff;
  display: contents;
}
.apply{
  padding: 10px 50px; 
  background: #EB1935;
  border-radius: 3px;   
  color: #FFFFFF;
  border: none;
  margin: 15px;
}
.body-text{
  width: auto;
  font-size: 18px;
  padding: 20px;
}
