<div class="col-md-12 back-history">
    <a routerLink="/scheme_list"><i class="bi bi-chevron-left arrow-red"></i> Back to Search</a>
</div>
<div class="container">
    <div class="box col col-sm mx-auto" *ngFor="let mydata of data">
        <div class="scheme_header">
            <label class="scheme_name mt-3"> {{mydata.oem}}</label>
            <button class="scheme_id float-end mt-3">ID: {{mydata.scheme_id}}</button>
        </div>
        <div class="scheme_input floating-label">
            <input [(ngModel)]="schemeAmount" type="number" placeholder="₹"
                class="form-control ng-pristine ng-invalid ng-touched" #amtamount>
            <label for="sapId">Transaction Amount</label>
            <small class="invalid-feedback"> SAP ID is required </small>
            <button type="submit" id="amtamount" name="amtamount" class="btn" (click)="validateDetails(amtamount.value)" [disabled]="schemeAmount ==''">Get Details</button>
        </div>
        <div class="scheme_range">
            <label class="lastText">Range: ₹{{mydata.min_amount}} to ₹{{mydata.max_amount}}</label>
        </div>
    </div>
    <div class="invalid_amount_alert" *ngIf="isrange">
        <div class="invalid_label">Please enter transaction amount in given range</div>
    </div>
</div>
<div *ngIf="isShowDivIf" >
    <div class="container" *ngFor="let mydata of data">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="row gx-1 mobile_row">
                    <div class="col box2 g-5">
                        <h5 class="mb-3">Scheme Details</h5>
                        <div>
                            <div class="row_container">
                                <div class="row_label">Description</div>
                                <div class="row_value float-end"><b> {{mydata.tenure}} X {{mydata.advance_emi}}</b></div>
                            </div>
                            <div class="row_container">
                                <div class="row_label">Number of Adv. EMI's</div>
                                <div class="row_value float-end"><b>{{mydata.advance_emi}}</b></div>
                            </div>
                            <div class="row_container">
                                <div class="row_label">Number of remaining EMI's</div>
                                <div class="row_value float-end"><b>{{formula.remaningemi}}</b></div>
                            </div>
                            <div class="row_container">
                                <div class="row_label">Range</div>
                                <div class="row_value float-end"><b>₹{{mydata.min_amount}} to ₹{{mydata.max_amount}}</b></div>
                            </div>
                            <div class="row_container">
                                <div class="row_label">Type</div>
                                <div class="row_value float-end"><b>{{mydata.oem}}</b></div>
                            </div>
                            <div class="row_container">
                                <div class="row_label">Portal Description</div>
                                <div class="row_value float-end"><b>{{mydata.portal_description}}</b></div>
                            </div>
                            <div class="row_container">
                                <div class="row_label"> Validity</div>
                                <div class="row_value float-end"><b>{{mydata.scheme_end_date}} </b></div>
                            </div>
                            <div class="row_container">
                                <div class="row_label"> Status</div>
                                <div class="row_value float-end"><b>{{mydata.status}} </b></div>
                            </div> <br>
                            <p style="font-weight: bold; font-size: 1.1rem;">Transaction Summary for Customer</p>
                            <div class="row_container">
                                <div class="row_label"> EMI Amount</div>
                                <div class="row_value float-end"><b>₹{{formula.EMIAmount}} </b></div>
                            </div>
                            <div class="row_container">
                                <div class="row_label">Advance EMI Amount</div>
                                <div class="row_value float-end"><b>₹{{formula.ADVANCE_EMI}} </b></div>
                            </div>
                            <div class="row_container">
                                <div class="row_label">Processing Fee</div>
                                <div class="row_value float-end"><b>₹{{mydata.processing_fee}}</b></div>
                            </div>
                            <div class="row_container">
                                <div class="row_label">Total Payment white transaction</div>
                                <div class="row_value float-end"><b>₹{{formula.Amounttobepaidby}}</b></div>
                            </div>
                        </div>
                    </div>
                    <div class="col box2 g-5">
                        <h5 class="mb-3">Cost to Customer</h5>
                        <div>
                            <div class="row_container">
                                <div class="row_label">Total Interest during loan tenure</div>
                                <div class="row_value float-end"><b>₹{{formula.TotalIntrestduringloantenure}}</b></div>
                            </div>
                            <div class="row_container">
                                <div class="row_label">Total of Interest & processing fees</div>
                                <div class="row_value float-end"><b>₹{{formula.Totalofintrest}}</b></div>
                            </div>
                            <div class="row_container">
                                <div class="row_label">Cashback expected</div>
                                <div *ngIf="mydata?.oem?.toLowerCase() != 'mmfsl'" class="row_value float-end"><b>₹{{formula.TotalIntrestduringloantenure}}</b></div>
                                <div *ngIf="mydata?.oem?.toLowerCase() == 'mmfsl'" class="row_value float-end"><b>₹0.00</b></div>
                            </div>
                            <div class="row_container">
                                <div class="row_label">Additional Cashback expected</div>
                                <div class="row_value float-end"><b>₹ 0.00</b></div>
                            </div>
                            <div class="row_container">
                                <div class="row_label">Net Cost to Customer</div>
                                <div class="row_value float-end"><b>₹{{formula.net_Cost_Custmer}}</b></div>
                            </div> <br>
                            <p style="font-weight: bold; font-size: 1.3rem;">Transaction Summary to Dealer</p>
                            <div class="row_container">
                                <div class="row_label">Processing fee</div>
                                <div class="row_value float-end"><b>₹{{mydata.processing_fee}}</b></div>
                            </div>
                            <div class="row_container">
                                <div class="row_label">Advance EMI</div>
                                <div class="row_value float-end"><b>₹{{formula.ADVANCE_EMI}}</b></div>
                            </div>
                            <div class="row_container">
                                <div class="row_label">Amount to be collected from customer </div>
                                <div class="row_value float-end"><b>₹{{formula.Amounttobepaidby}}</b></div>
                            </div>
                            <div class="row_container">
                                <div class="row_label">DBD Amount to be paid by dealer to MMFSL</div>
                                <div class="row_value float-end"><b>₹{{formula.dbd}}</b></div>
                            </div>
                            <div class="row_container">
                                <div class="row_label">Disbursement to dealer by MMFSL</div>
                                <div class="row_value float-end"><b> ₹{{formula.distributed_delerto_mmfsl}}</b></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row_container">
                    <div class="disclaimer"><b>Disclaimer:</b> This calculator is meant for usage only by authorized representative of Mahindra and Mahindra Financial Services Ltd. and is strictly confidential.
                        <br/><br>The values mentioned above are approximate. The final amount(s) may vary slightly from the same.
                        <br/><br>Mahindra and Mahindra Financial Services Ltd. reserves the right to modify or close these schemes without notice and based on its sole discretion.
                    </div>
                </div>
                <br>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</div>