<div class="col-md-12 back-history">
    <a routerLink="/scheme_list"><i class="bi bi-chevron-left arrow-red"></i> Back to Search</a>
</div>
<div class="container">
    <h3>Estimated Transaction Summary</h3>
    <div class="box col col-sm mx-auto" *ngFor="let mydata of data">
        <div class="scheme_header">
            <label class="scheme_name mt-3"> {{mydata.oem}}</label>
            <button class="scheme_id float-end mt-3">Scheme ID: {{mydata.scheme_id}}</button>
        </div>
        <div *ngIf="authService.searchText" class="search_text">Search for: {{authService.searchText}}</div>
        <div class="scheme_input floating-label">
            <input [ngStyle]="{'border-color':isrange==true? 'red':'black'}" [(ngModel)]="schemeAmount" type="number" placeholder="₹"
                class="form-control ng-pristine ng-invalid ng-touched" #amtamount>
            <label for="sapId">Transaction Amount</label>
            <small class="invalid-feedback"> SAP ID is required </small>
            <button type="submit" id="amtamount" name="amtamount" class="btn" (click)="validateDetails(amtamount.value)" [ngClass]="schemeAmount ? '' : 'disabled'">Get Details</button>
        </div>
        <div class="scheme_range">
            <label class="lastText">Scheme Min-Max: ₹{{mydata.min_amount}} to ₹{{mydata.max_amount}}</label>
        </div>
    </div>
    <div class="invalid_amount_alert" *ngIf="isrange">
        <div class="invalid_label">Please enter transaction amount in given range</div>
    </div>
</div>
<div *ngIf="isShowDivIf" >
    <div class="container" *ngFor="let mydata of data">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="row gx-1 mobile_row">
                    <div class="col box2  no_margin">
                        <h5 class="mb-3">Scheme Details</h5>
                        <div>
                            <div class="row_container">
                                <div class="row_label">Description</div>
                                <div class="row_value float-end"><b> {{mydata.tenure}} X {{mydata.advance_emi}}</b></div>
                            </div>
                            <div class="row_container">
                                <div class="row_label">Number of Adv. EMI's</div>
                                <div class="row_value float-end"><b>{{mydata.advance_emi}}</b></div>
                            </div>
                            <div class="row_container">
                                <div class="row_label">Number of remaining EMI's</div>
                                <div class="row_value float-end"><b>{{formula.remaningemi}}</b></div>
                            </div>
                            <div class="row_container">
                                <div class="row_label">Scheme Min-Max</div>
                                <div class="row_value float-end"><b>₹{{mydata.min_amount}} to ₹{{mydata.max_amount}}</b></div>
                            </div>
                            <div class="row_container">
                                <div class="row_label">OEM Name</div>
                                <div class="row_value float-end"><b>{{mydata.oem}}</b></div>
                            </div>
                            <div class="row_container">
                                <div class="row_label">Portal Description</div>
                                <div class="row_value float-end"><b>{{mydata.portal_description}}</b></div>
                            </div>
                            <div class="row_container">
                                <div class="row_label"> Validity</div>
                                <div class="row_value float-end"><b>{{mydata.scheme_end_date}} </b></div>
                            </div>
                            <div class="row_container">
                                <div class="row_label"> Status</div>
                                <div class="row-value-status float-end" [ngStyle]="{'color':mydata.status==0? 'red':'#00D43B'}" ><b>{{mydata.status == 0 ? 'INACTIVE':'ACTIVE'}} </b></div>
                            </div> <br>
                            <!-- <h5 class="mb-3">Transaction Summary</h5>
                            <div class="row_container">
                                <div class="row_label"> Transaction Amount</div>
                                <div class="row_value float-end"><b>₹{{schemeAmount}} </b></div>
                            </div>
                            <div class="row_container">
                                <div class="row_label"> EMI Amount</div>
                                <div class="row_value float-end"><b>₹{{formula.emiAmount}} </b></div>
                            </div>
                            <div class="row_container">
                                <div class="row_label">Advance EMI to be collected from Customer</div>
                                <div class="row_value float-end"><b>₹{{formula.advance_emi}} </b></div>
                            </div>
                            <div class="row_container">
                                <div class="row_label">Processing Fee to be collected from Customer</div>
                                <div class="row_value float-end"><b>₹{{mydata.processing_fee}}</b></div>
                            </div>
                            <div class="row_container">
                                <div class="row_label">Amount to be collected from Customer on behalf of MMFSL</div>
                                <div class="row_value float-end"><b>₹{{formula.amountPaidBy}}</b></div>
                            </div> -->
                        </div>
                    </div>
                    <div class="col box2 no_margin">
                        <h5 class="mb-3">Transaction Summary</h5>
                        <div class="row_container">
                            <div class="row_label"> Transaction Amount</div>
                            <div class="row_value float-end"><b>₹{{schemeAmount}} </b></div>
                        </div>
                        <div class="row_container">
                            <div class="row_label"> EMI Amount</div>
                            <div class="row_value float-end"><b>₹{{formula.emiAmount}} </b></div>
                        </div>
                        <div class="row_container">
                            <div class="row_label">Advance EMI to be collected from Customer</div>
                            <div class="row_value float-end"><b>₹{{formula.advance_emi}} </b></div>
                        </div>
                        <div class="row_container">
                            <div class="row_label">Processing Fee to be collected from Customer</div>
                            <div class="row_value float-end"><b>₹{{mydata.processing_fee}}</b></div>
                        </div>
                        <div class="row_container">
                            <div class="row_label">Amount to be collected from Customer on behalf of MMFSL</div>
                            <div class="row_value float-end"><b>₹{{formula.amountPaidBy}}</b></div>
                        </div>
                        <br/>
                        <div class="row_container">
                            <div class="row_label">Total Interest during loan tenure</div>
                            <div class="row_value float-end"><b>₹{{formula.totalInterest}}</b></div>
                        </div>
                        <div class="row_container">
                            <div class="row_label">Cashback expected</div>
                            <div *ngIf="mydata?.oem?.toLowerCase() != 'mmfsl'" class="row_value float-end"><b>₹{{formula.totalInterest}}</b></div>
                            <div *ngIf="mydata?.oem?.toLowerCase() == 'mmfsl'" class="row_value float-end"><b>₹0.00</b></div>
                        </div>
                        <div class="row_container">
                            <div class="row_label">Additional Cashback expected</div>
                            <div class="row_value float-end"><b>₹ 0.00</b></div>
                        </div>
                        <br/>
                        <div class="row_container">
                            <div class="row_label">DBD Amount to be paid by dealer to MMFSL</div>
                            <div class="row_value float-end"><b>₹{{formula.dbd}}</b></div>
                        </div>
                        <div class="row_container">
                            <div class="row_label">Disbursement to dealer by MMFSL</div>
                            <div class="row_value float-end"><b> ₹{{formula.distributed_delerto_mmfsl}}</b></div>
                        </div>
                        <!-- <h5 class="mb-3">Cost to Customer</h5> -->
                        <!-- <div>
                            <div class="row_container">
                                <div class="row_label">Total Interest during loan tenure</div>
                                <div class="row_value float-end"><b>₹{{formula.totalInterest}}</b></div>
                            </div> -->
                            <!-- <div class="row_container">
                                <div class="row_label">Total of Interest & processing fees</div>
                                <div class="row_value float-end"><b>₹{{formula.totalOfInterest}}</b></div>
                            </div> -->
                            <!-- <div class="row_container">
                                <div class="row_label">Cashback expected</div>
                                <div *ngIf="mydata?.oem?.toLowerCase() != 'mmfsl'" class="row_value float-end"><b>₹{{formula.totalInterest}}</b></div>
                                <div *ngIf="mydata?.oem?.toLowerCase() == 'mmfsl'" class="row_value float-end"><b>₹0.00</b></div>
                            </div>
                            <div class="row_container">
                                <div class="row_label">Additional Cashback expected</div>
                                <div class="row_value float-end"><b>₹ 0.00</b></div>
                            </div> -->
                            <!-- <div class="row_container">
                                <div class="row_label">Net Cost to Customer</div>
                                <div class="row_value float-end"><b>₹{{formula.net_Cost_Custmer}}</b></div>
                            </div>  -->
                            <!-- <br>
                            <h5 class="mb-3">Transaction Summary to Dealer</h5> -->
                            <!-- <p style="font-weight: bold; font-size: 1.3rem;">Transaction Summary to Dealer</p> -->
                            <!-- <div class="row_container">
                                <div class="row_label">Processing fee</div>
                                <div class="row_value float-end"><b>₹{{mydata.processing_fee}}</b></div>
                            </div>
                            <div class="row_container">
                                <div class="row_label">Advance EMI</div>
                                <div class="row_value float-end"><b>₹{{formula.advance_emi}}</b></div>
                            </div>
                            <div class="row_container">
                                <div class="row_label">Amount to be collected from customer </div>
                                <div class="row_value float-end"><b>₹{{formula.amountPaidBy}}</b></div>
                            </div> -->
                            <!-- <div class="row_container">
                                <div class="row_label">DBD Amount to be paid by dealer to MMFSL</div>
                                <div class="row_value float-end"><b>₹{{formula.dbd}}</b></div>
                            </div>
                            <div class="row_container">
                                <div class="row_label">Disbursement to dealer by MMFSL</div>
                                <div class="row_value float-end"><b> ₹{{formula.distributed_delerto_mmfsl}}</b></div>
                            </div> -->
                        <!-- </div> -->
                    </div>
                </div>
                <div class="disclaimer">
                    <b>Disclaimer:</b> This calculator is meant for usage only by authorized representative of Mahindra and Mahindra Financial Services Ltd. and is strictly confidential.
                    <br/><br>The values mentioned above are approximate. The final amount(s) may vary from the same.
                    <br/><br>Mahindra and Mahindra Financial Services Ltd. reserves the right to modify or close these schemes without notice and based on its sole discretion.
                </div>
                <br>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</div>