<div class="row justify-content-md-center">
    <div class="col col-md-5 customer-dashboard">
        <h3 class="welcome mb-3">Welcome Again!</h3>
        <ngb-alert class="mt-1" #selfClosingErrorAlert *ngIf="invalidMessage" type="danger" (closed)="invalidMessage = ''">{{ invalidMessage }}</ngb-alert>
        <a routerLink="/customer_search">
            <div class="card mb-3">
                <div class="card-body">
                    <i class="bi bi-chevron-right"></i>
                    <h4>Customer Details</h4>
                    View customer loan details and status
                </div>
            </div>
        </a>
        <a (click)="getReport()" href="javascript:void(0);">
            <div class="card mb-3">
                <div class="card-body">
                    <i class="bi bi-chevron-right"></i>
                    <h4>SE Report</h4>
                    View mandate, overdue, DPD etc. report
                </div>
            </div>
        </a>
        <a routerLink="/scheme_list">
            <div class="card mb-3">
                <div class="card-body">
                    <i class="bi bi-chevron-right"></i>
                    <h4>Scheme Guide</h4>
                    Calculate scheme wise data
                </div>
            </div>
        </a>
    </div>
</div>
